@model Garage3.Models.Member

@{
    ViewData["Title"] = "Create a membership account";
}
<br />
<h2>Create a membership account</h2>

<div id="persNoError" hidden="hidden" class="alert alert-warning alert-dismissible fade show" role="alert">
     A member with the following  Personal number:
    <strong>@ViewData["MemberAlreadyExists"]</strong> already exists. <br /> Only one account per member is allowed.
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
    </button>
</div>

<div id="nameError" hidden="hidden" class="alert alert-warning alert-dismissible fade show" role="alert">
     A member is not allowed to have the same first and last names. Change from
    <strong>@ViewData["DoubleName"]</strong> to something else.
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
    </button>
</div>

@*<h4>Member</h4>*@
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PersNo" class="control-label"></label>
                <input asp-for="PersNo" class="form-control" />
                <span asp-validation-for="PersNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input class="btn btn-primary top-bottom-margin" type="submit" value="Create" id="createButton" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-primary" asp-action="Index">Back to List</a>
</div>

@if (ViewData["DoubleName"] != null)
{
    <script>
        function showErrorDoubleName()
        {
            element.removeAttribute("hidden");
        }
        let element = document.querySelector("#nameError");
        let button = document.querySelector("#createButton")
        button.addEventListener('submit', showErrorDoubleName)

        showErrorDoubleName();
    </script>
}

else
{
    <script>
        document.querySelector("#nameError").setAttribute("hidden", "hidden");
    </script>
}

@if (ViewData["MemberAlreadyExists"] != null)
{
    <script>

        function showError() {
            element.removeAttribute("hidden");

        }

        let element = document.querySelector("#persNoError");
        let button = document.querySelector("#createButton")
        button.addEventListener('submit', showError)

        showError();
    </script>
}

else
{
    <script>
        document.querySelector("#persNoError").setAttribute("hidden", "hidden");
    </script>
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
