@model Garage3.Models.Vehicle

@{
    ViewData["Title"] = "Create";
    var vehicleTypesList = new SelectList(ViewBag.VehicleTypeList, "Name", "Name");
    //TempData["MemberIdData"] = Context.Request.Query["MemberId"];
    TempData["MemberIdData"] = Context.Request.Query["MemberId"].ToList().FirstOrDefault();
    TempData.Keep();
}
<br />
<h2>Create a vehicle</h2>


<h3>Membership account no: @Context.Request.Query["MemberId"]</h3>

@*<div id="regNoError" hidden="hidden" class="alert alert-warning alert-dismissible fade show" role="alert">
     Vehicle with registration number <strong>@ViewData["RegNoAlreadyExists"]</strong> already exists. <br /> Please enter a unique one.
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
    </button>
</div>*@

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        
    @*       <div class="form-group">
    @*           <label asp-for="MemberId" class="control-label"></label>
    @*           <input type="number" readonly asp-for="MemberId" class="form-control" />
    @*           <span asp-validation-for="MemberId" class="text-danger"></span>
    @*       </div>
    *@
            <div class="form-group">
                <label asp-for="VehicleTypeName" class="control-label"></label>
                <select asp-for="VehicleTypeName" class="form-control" asp-items="@vehicleTypesList">
                <option value="" selected="selected">Select Vehicle Type</option>    
                </select>
                <span asp-validation-for="VehicleTypeName" class="text-danger"></span>
            </div> 

            <div class="form-group">
                <label asp-for="RegNo" class="control-label"></label>
                <input asp-for="RegNo" class="form-control" />
                <span asp-validation-for="RegNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Brand" class="control-label"></label>
                <input asp-for="Brand" class="form-control" />
                <span asp-validation-for="Brand" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Model" class="control-label"></label>
                <input asp-for="Model" class="form-control" />
                <span asp-validation-for="Model" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Color" class="control-label"></label>
                <input asp-for="Color" class="form-control" />
                <span asp-validation-for="Color" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NoOfWheels" class="control-label"></label>
                <input asp-for="NoOfWheels" class="form-control" />
                <span asp-validation-for="NoOfWheels" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary top-bottom-margin" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-primary top-bottom-margin" asp-action="Index">Back to List</a>
</div>

@*@if (ViewData["RegNoAlreadyExists"] != null)
{
    <script>
        function showError()
        {
            element.removeAttribute("hidden");
        }
        let element = document.querySelector("#regNoError");
        let button = document.querySelector("#createButton")
        button.addEventListener('submit', showError)

        showError();
    </script>
}

else
{
    <script>
        document.querySelector("#regNoError").setAttribute("hidden", "hidden");
    </script>
}*@

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
